:root {

    --primary: #4f46e5;
    --primary-light: #6366f1;

    --secondary: #0f172a;

    --accent: #06b6d4;

    --success: #10b981;
    --danger: #ef4444;
    --warning: #f59e0b;

    --background: #f8fafc;
    --surface: #ffffff;

    --text: #0f172a;
    --text-light: #64748b;

    --border: #e2e8f0;

    --transition: all .25s ease;
}
