{
    auto_https off
}

# FRONT + INERTIA
http://localhost:8000 {
    request_body {
        max_size 15MB
    }
    root * /Users/mcamara/homesites/www/barasira/public
    php_fastcgi unix//opt/homebrew/var/run/php-fpm.sock
    encode gzip zstd
    file_server
    try_files {path} {path}/ /index.php?{query}
}

# API
http://localhost:8001 {
    request_body {
        max_size 15MB
    }
    root * /Users/mcamara/homesites/www/barasira/public
    php_fastcgi unix//opt/homebrew/var/run/php-fpm.sock
    encode gzip zstd

    # CORS local
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    header Access-Control-Allow-Headers "Content-Type, Authorization"

    @options method OPTIONS
    handle @options {
        respond "" 204
    }

    try_files {path} {path}/ /index.php?{query}
}
